<%- include ../header %>
<section class="profile-info users-bg">
    <img src="<%= info.portrait || '/upload/portrait/default_portrait.jpg' %>" class="c-block c-mgn0" />
    <% if (is_author) { %>
    <form enctype="multipart/form-data" id="form_portrait" class="c-horizontal">
        <input type="file" id="portrait" name="portrait" class="js_portrait" />
    </form>
    <div class="profile-ctrl"><a href="javascript:;" class="js_exit">退出</a><a href="javascript:;" class="js_logout">注销</a></div>
    <% } %>
    <h3><%= info.user_name %></h3>
    <div class="profile-bio"><span><%= info.sex %></span><span><%= info.tel %></span><span><%= info.qq %></span></div>
</section>
<section class="profile-intro <% if (is_author) { %>c-author<% } %> c-bgw"><%= info.intro || '还咩有自我评价哦~' %><% if (is_author) { %><a href="javascript:;" class="js_edit c-vertical">编辑</a><% } %></section>
<div class="c-bottom edit-info c-bgw js_board">
    <form id="form_info">
        <input type="text" id="intro" name="intro" placeholder="还咩有自我评价哦~" value="<%= info.intro %>" />
    </form>
    <button class="js_info">提交</button>
    <a href="javascript:;" class="js_cancel">取消</a>
</div>
<a href="javascript:;" class="js_back users-back c-block"><</a>
<script src="/js/profile.js"></script>
<%- include ../footer %>
