<%- include ../header %>
<section class="profile-info expo-bg">
    <img src="<%= userinfo.portrait || '/portrait/default_portrait.jpg' %>" class="c-block" />
    <h3><%= userinfo.user_name %></h3>
    <span><%= userinfo.sex %></span><span><%= userinfo.tel %></span><span><%= userinfo.qq %></span>
    <div class="profile-intro"><%= userinfo.intro || '还咩有自我评价哦~' %></div>

    <% if (is_author) { %>
    <form enctype="multipart/form-data" id="form_portrait" class="c-horizontal">
        <input type="file" id="user_portrait" name="portrait" class="js_portrait" />
    </form>
    <div class="log-ctrl">
        <a href="javascript:;" class="js_exit">退出</a><a href="javascript:;" class="js_logout">注销</a>
    </div>
    <% } %>
</section>

<section class="diaries-lst">
    <ul class="js_diaries"></ul>
    <button class="js_loadmore"></button>
    <span class="c-block js_loading">正在加载...</span>
</section>
<%- include modules/m-diary.ejs %>

<div class="c-hidden c-mask js_mask">
    <div class="edit-board c-footer js_edit_board">
        <form id="form_userinfo">
            <input type="text" id="user_intro" name="intro" placeholder="还咩有自我评价哦~" value="<%= userinfo.intro %>" />
        </form>
        <button class="js_userinfo">提交</button>
        <a href="javascript:;" class="js_close">取消</a>
    </div>
</div>

<% if (is_author) { %>
<a href="/diary/publish" class="btn-publish c-block">+</a>
<a href="javascript:;" class="btn-edit c-block js_edit_userinfo">✎</a>
<% } %>

<a href="javascript:;" class="expo-back c-block js_back"><</a>

<script>
    global.page = {
        cur_user: <%= cur_user %>
    };
</script>
<script src="/js/profile.js"></script>
<%- include ../footer %>